.footer {
  position: relative;
  background: var(--brown-dark);
  padding: 70px 130px 20px 130px;
  max-height: 350px;

  @media screen and (max-width: 768px) {
    padding: 50px 50px 20px 23px;
  }

  @media screen and (max-width: 558px) {
    padding: 121px 15px 20px 15px;
    }

  &__container {
    display: flex;
    justify-content: space-between;

    @media screen and (max-width: 768px) {
      gap: 50px;
    }
  }

  &__list-logo {
    display: flex;
    flex-direction: column;
    gap: 35px;

    @media screen and (max-width: 768px) {
      flex-direction: row;
      gap: 50px;
      justify-content: space-between;
    }

    @media screen and (max-width: 558px) {
      .footer__logo {
        display: block;
        position: absolute;
        top: 50px;
        left: 50%;
        transform: translateX(-50%);
      }
    }
  }

  &__list {
    display: flex;
    flex-direction: column;
    gap: 10px;

    &_item a,
    li:hover {
      color: var(--tomato-light);
    }
  }

  &__contacts {
    max-width: 331px;
    width: 100%;

    @media screen and (max-width: 768px) {
      max-width: 212px;
      width: 100%;
      margin-left: auto;
    }

    
  }

  &__social-logo {
    margin: 51px 0px 34px 0px;

    display: flex;
    justify-content: space-between;

    a {
      transition: all 0.1s ease 0s;
      display: block;

      &:first-child svg,
      &:nth-child(2) svg,
      &:nth-child(3) svg {
        fill: var(--brown-light);

        &:hover {
          fill: var(--tomato-light);
        }
      }

      &:last-child svg,
      &:nth-child(3) svg,
      &:nth-child(4) svg {
        stroke: var(--brown-light);

        &:hover {
          stroke: var(--tomato-light);
        }
      }

    
    }
  }

  &__copy {
    margin-top: 54px;

    @media screen and (max-width: 768px) {
      margin-top: 40px;
    }
  }
}
