.footer {
  background: #35312D;
  padding: 70px 130px 20px 130px;
  
  &__container {
    display:flex;
  }

  &__list-logo {
  }

  &__list {
  }

  &__contacts {
  }

  &__social-logo {
  }

  &__copy {
  }
}
.header {

  &__number {
  }
}
