.partners {
  padding: 70px 50px;
  background: var(--brown-light);

  h2 {
    margin: 0px 0px 40px 0px;
  }
}

.swiper-slide svg {
  cursor: pointer;
}

.swiper-button-prev,
.swiper-button-next {
  margin: 10px 0px 0px 0px;
}
