.center-wrapper {
  width: 34px;
  position: relative;
  display: none;

  .center {
    width: 34px;
    position: relative;

    &:before,
    &:after,
    & div {
      background: #000;
      content: "";
      display: block;
      height: 1px;
      border-radius: 3px;
      margin: 10px 0;
      transition: 0.5s;
    }
  }
}

.header__burger-click {
  & .center:before {
    transform: translateY(12px) rotate(135deg);
  }

  & .center:after {
    transform: translateY(-12px) rotate(-135deg);
  }

  & .center div {
    transform: scale(0);
  }

}
