.header {
  max-width: 100%;
  height: 100px;
  padding: 0px 135px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.header .center-wrapper {
  width: 34px;
  position: relative;
  display: none;
}
.header .center-wrapper:has(input:checked) + .header__list {
  transform: scaleY(1);
}
.header .center-wrapper input {
  position: absolute;
  z-index: 2;
  top: 0;
  left: 0;
  width: 110%;
  height: 110%;
  opacity: 0;
}
.header .center-wrapper input:checked ~ .center:before {
  transform: translateY(12px) rotate(135deg);
}
.header .center-wrapper input:checked ~ .center:after {
  transform: translateY(-12px) rotate(-135deg);
}
.header .center-wrapper input:checked ~ .center div {
  transform: scale(0);
}
.header .center-wrapper .center {
  width: 34px;
  position: relative;
}
.header .center-wrapper .center:before, .header .center-wrapper .center:after, .header .center-wrapper .center div {
  background: #000;
  content: "";
  display: block;
  height: 1px;
  border-radius: 3px;
  margin: 10px 0;
  transition: 0.5s;
}
@media screen and (max-width: 768px) {
  .header {
    padding: 23.5px 34px;
  }
  .header .header__wrapper {
    gap: 81px;
  }
  .header .header__list {
    display: none;
  }
  .header .header__list-search {
    width: 94px;
    gap: 40px;
  }
  .header .header__burger {
    display: block;
  }
}
.header__wrapper {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
}
.header__logo {
  display: flex;
  align-self: center;
}
.header__list-search {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 40px;
  width: 100%;
  max-width: 600.13px;
}
.header__list {
  display: flex;
  gap: 10px;
  justify-content: space-between;
  width: 100%;
  max-width: 516.13px;
}
.header__list li:first-child::before {
  content: "";
}