.first-screen {
  position: relative;
  overflow: hidden;

  img {
    width: 100%;
    // height: auto;
    object-fit: cover;
  }

  &__title {
    position: absolute;
    z-index: 1;
    top: 16.67%;
    left: 135px;
  }
}
.main {
  .title {
    margin-bottom: 50px;
  }

  .main-wrapper {
    padding: 90px 34px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 90px;
  }

  .blog {
    // width: max-content;
    &__grid-container {
      margin: 0px auto;
      width: 100%;
      max-width: 1170px;

      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 50px 30px;
      // grid-template-rows: repeat(2, 1fr);
      overflow: hidden;
    }
    &__item-wrapper {
      align-self: center;
      height: max-content;
      max-width: 450px;
    }
    &__item {
      display: flex;
      img {
        width: 100%;
        max-width: 100%;
        height: auto;
        object-fit: cover;
      }

      h2 {
        margin: 30px 0 15px 0;
      }

      & p:nth-of-type(1) {
      }

      & p:nth-of-type(3) {
        margin-top: 50px;

        span {
          white-space: nowrap;
        }
      }
    }
  }
  .posts {
    width: 100%;
    max-width: 1170px;

		&__title {
      display:flex;
      justify-content: space-between;
      flex-wrap: wrap;
		}

		&__container {
      display:grid;
      grid-template-columns: repeat(auto-fit, minmax(340px ,370px));
      grid-auto-rows: max-content;
      gap: 30px;
      // justify-content: center;
		}

		&__blok {
      max-width: 370px;
      // max-height: 260px;
      
      display:flex;
      flex-direction: row;
      flex-wrap: wrap;
		}

		&__text {
      width: 370px;
		}
}
.text {
}

}
