.first-screen {
  position: relative;
  overflow: hidden;
}
.first-screen img {
  width: 100%;
  object-fit: cover;
}
.first-screen__title {
  position: absolute;
  z-index: 1;
  top: 16.67%;
  left: 135px;
}

.main {
  flex: 1 1 auto;
}
.main .title {
  margin-bottom: 50px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.main .main-wrapper {
  padding: 90px 34px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 90px;
}
.main .svg-arrow {
  margin-left: 20px;
}
.main .blog__grid-container {
  margin: 0px auto;
  width: 100%;
  max-width: 1170px;
  overflow: hidden;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 50px 30px;
}
.main .blog__item-wrapper {
  align-self: center;
  height: max-content;
  max-width: 450px;
}
.main .blog__item {
  display: flex;
}
.main .blog__item img {
  width: 100%;
  max-width: 100%;
  height: auto;
  object-fit: cover;
}
.main .blog__item h2 {
  margin: 30px 0 15px 0;
}
.main .blog__item p:nth-of-type(3) {
  margin-top: 50px;
}
.main .blog__item p:nth-of-type(3) span {
  white-space: nowrap;
}
.main .posts {
  width: 100%;
  max-width: 1170px;
}
.main .posts__container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
}
.main .posts__blok img {
  width: 100%;
  object-fit: cover;
}
.main .posts__text h2 {
  margin: 25.69px 0 20px 0;
}
.main .posts__text p:nth-of-type(1) {
  display: flex;
  justify-content: space-between;
  margin-top: 25px;
}
.main .popular {
  width: 100%;
  max-width: 1170px;
}
.main .popular__container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;
}
.main .popular__blok img {
  width: 100%;
  object-fit: cover;
}
.main .popular__text h2 {
  margin: 20px 0 20px 0;
}
.main .popular__text p:nth-of-type(1) {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}
.main .popular .popular__button {
  margin: 50px auto 0px auto;
  padding: 0 45px;
  background: #565656;
  height: 46px;
  width: max-content;
  display: grid;
  place-items: center;
}
.main .info {
  max-width: 1170px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 30px;
}
.main .info p {
  max-width: 470px;
}
.main .info p:last-child {
  float: right;
}
.main .info .svg-arrow {
  margin: 0;
}