.header__list {
  font-family: var(--lato);
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 0.3em;
  text-transform: uppercase;
  color: #000000;
}

main .first-screen__title {
  font-family: var(--rhd);
  font-weight: 600;
  font-size: 48px;
  line-height: 64px;
  letter-spacing: 0.05em;
  color: #000000;
}
main .blog__title {
  font-family: var(--rhd);
  font-weight: 400;
  font-size: 48px;
  line-height: 64px;
  letter-spacing: 0.05em;
  color: #000000;
}
main .blog__item-wrapper h2 {
  font-family: var(--rhd);
  font-style: normal;
  font-weight: 500;
  font-size: 23px;
  line-height: 166%;
  letter-spacing: 0.1em;
  color: #000000;
}
main .blog__item-wrapper p:nth-of-type(1) {
  font-family: var(--lato);
  font-weight: 400;
  font-size: 16px;
  line-height: 166%;
  letter-spacing: 0.1em;
  color: #7b7b7b;
}
main .blog__item-wrapper p:nth-of-type(2) {
  font-family: var(--lato);
  font-weight: 400;
  font-size: 16px;
  line-height: 166%;
  letter-spacing: 0.1em;
  color: #7b7b7b;
}
main .blog__item-wrapper p:last-child {
  font-family: var(--lato);
  font-weight: 400;
  font-size: 16px;
  line-height: 166%;
  letter-spacing: 0.05em;
  color: #565656;
}
main .posts__title h2,
main .popular__title h2 {
  font-family: var(--rhd);
  font-weight: 600;
  font-size: 28px;
  line-height: 166%;
  letter-spacing: 0.1em;
  color: #000000;
}
main .posts__title span,
main .popular__title span {
  font-family: var(--lato);
  font-weight: 400;
  font-size: 16px;
  line-height: 166%;
  letter-spacing: 0.1em;
  color: #7b7b7b;
}
main .posts__text h2,
main .popular__text h2 {
  font-family: var(--rhd);
  font-weight: 500;
  font-size: 22px;
  line-height: 166%;
  letter-spacing: 0.1em;
  color: #000000;
}
main .posts__text p:nth-of-type(1),
main .popular__text p:nth-of-type(1) {
  font-family: var(--lato);
  font-weight: 400;
  font-size: 12px;
  line-height: 166%;
  letter-spacing: 0.05em;
  color: #7b7b7b;
}
main .posts__text p:nth-of-type(2),
main .popular__text p:nth-of-type(2) {
  font-family: var(--lato);
  font-weight: 400;
  font-size: 16px;
  line-height: 166%;
  letter-spacing: 0.1em;
  color: #7b7b7b;
}
main .popular__button {
  font-family: var(--lato);
  font-weight: 700;
  font-size: 16px;
  line-height: 166%;
  letter-spacing: 0.1em;
  color: #ffffff;
}
main .info p:first-child {
  font-family: var(--rhd);
  font-weight: 400;
  font-size: 23px;
  line-height: 166%;
  letter-spacing: 0.1em;
  color: #000000;
}
main .info p:last-child {
  font-family: var(--lato);
  font-weight: 400;
  font-size: 19px;
  line-height: 32px;
  letter-spacing: 0.05em;
  color: #565656;
}

.footer__gta h2 {
  font-family: var(--rhd);
  font-weight: 400;
  font-size: 48px;
  line-height: 64px;
  letter-spacing: 0.05em;
  color: #000000;
}
.footer__gta p {
  font-family: var(--lato);
  font-weight: 400;
  font-size: 16px;
  line-height: 166%;
  letter-spacing: 0.1em;
  color: #000000;
}
.footer__copy {
  font-family: var(--lato);
  font-weight: 400;
  font-size: 12px;
  line-height: 166%;
  letter-spacing: 0.1em;
  color: #000000;
}