.header__list {
  font-family: var(--lato);
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 0.3em;
  text-transform: uppercase;
  color: var(--color-black);
}
main {
  .first-screen__title {
    font-family: var(--rhd);
    font-weight: 600;
    font-size: 48px;
    line-height: 64px;
    letter-spacing: 0.05em;
    color: var(--color-black);

    @media screen and (max-width:887px){
      font-size: 30px;
      line-height: 50px;    
  }

    @media screen and (max-width:484px){
      font-size: 30px;
      line-height: 50px;    }
  }

  .blog {
    &__title {
      font-family: var(--rhd);
      font-weight: 400;
      font-size: 48px;
      line-height: 64px;
      letter-spacing: 0.05em;
      color: var(--color-black);
    }
    &__item-wrapper {
      h2 {
        font-family: var(--rhd);
        font-style: normal;
        font-weight: 500;
        font-size: 23px;
        line-height: 166%;
        letter-spacing: 0.1em;
        color: var(--color-black);
      }
      & p:nth-of-type(1) {
        font-family: var(--lato);
        font-weight: 400;
        font-size: 16px;
        line-height: 166%;
        letter-spacing: 0.1em;
        color: #7b7b7b;
      }
      & p:nth-of-type(2) {
        font-family: var(--lato);
        font-weight: 400;
        font-size: 16px;
        line-height: 166%;
        letter-spacing: 0.1em;
        color: #7b7b7b;
      }
      & p:last-child {
        font-family: var(--lato);
        font-weight: 400;
        font-size: 16px;
        line-height: 166%;
        letter-spacing: 0.05em;
        color: var(--color-braune);
      }
    }
  }
  .posts,
  .popular {
    &__title {
      h2 {
        font-family: var(--rhd);
        font-weight: 600;
        font-size: 28px;
        line-height: 166%;
        letter-spacing: 0.1em;
        color: var(--color-black);
      }
      span {
        font-family: var(--lato);
        font-weight: 400;
        font-size: 16px;
        line-height: 166%;
        letter-spacing: 0.1em;
        color: #7b7b7b;
      }
    }

    &__text {
      h2 {
        font-family: var(--rhd);
        font-weight: 500;
        font-size: 22px;
        line-height: 166%;
        letter-spacing: 0.1em;
        color: var(--color-black);
      }

      & p:nth-of-type(1) {
        font-family: var(--lato);
        font-weight: 400;
        font-size: 12px;
        line-height: 166%;
        letter-spacing: 0.05em;
        color: #7b7b7b;
      }

      & p:nth-of-type(2) {
        font-family: var(--lato);
        font-weight: 400;
        font-size: 16px;
        line-height: 166%;
        letter-spacing: 0.1em;
        color: #7b7b7b;
      }
    }
  }
  .popular__button {
    font-family: var(--lato);
    font-weight: 700;
    font-size: 16px;
    line-height: 166%;
    letter-spacing: 0.1em;
    color: var(--color-white);
  }

  .info {
    & p:first-child {
      font-family: var(--rhd);
      font-weight: 400;
      font-size: 23px;
      line-height: 166%;
      letter-spacing: 0.1em;
      color: var(--color-black);
    }

    & p:last-child {
      font-family: var(--lato);
      font-weight: 400;
      font-size: 19px;
      line-height: 32px;
      letter-spacing: 0.05em;
      color: #565656;
    }
  }
}

.footer {
  &__gta {
    h2 {
      font-family: var(--rhd);
      font-weight: 400;
      font-size: 48px;
      line-height: 64px;
      letter-spacing: 0.05em;
      color: var(--color-black);
    }

    p {
      font-family: var(--lato);
      font-weight: 400;
      font-size: 16px;
      line-height: 166%;
      letter-spacing: 0.1em;
      color: var(--color-black);
    }
  }

  &__copy {
    font-family: var(--lato);
    font-weight: 400;
    font-size: 12px;
    line-height: 166%;
    letter-spacing: 0.1em;
    color: var(--color-black);
  }

    @media screen and (max-width: 560px) {
      h2 {
        font-size: 32px;
        line-height: 42px;
      }

      p {
        font-size: 18px;
      }
    }

    &__copy {
      font-size: 16px;
      line-height: 166%;
      text-align: center;
    }
  
}
