:root {
  --lato:'Lato', sans-serif;
  --rhd:'Red Hat Display', sans-serif;

  --color-black:#000;
  --color-braune:#565656;
  --color-gray:#7b7b7b;
  --color-white:#fff;
  --color-l-white:#F4F4F4;
}
