.wrapper {
  background: #e5e5e5;
  min-height: 100vh;
  padding: 50px 0;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.wrapper-form {
  background-color: rgba(255, 255, 255, 1);
  border-radius: 6px;

  padding: 35px 34px 0 36px;
  margin: 0 auto;

  max-width: 570px;
}

.form {
  border-bottom: 1px solid #e4e4e4;
  padding-bottom: 20px;

  display: grid;
  gap: 20px;
  grid-template-columns: 1fr 1fr;
  grid-template-areas:
    "title title"
    "Fname Lname"
    "emeil emeil"
    "male male"
    "country city"
    "button button"
    "foot foot";

  label {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 22px;
    letter-spacing: -0.2px;
    color: #545454;
  }

  input:not(.male input){
    border: 1px solid #e4e4e4;
    border-radius: 6px;
    min-height: 38px;

    padding: 0px 10px;
    margin: 7px 0px 0px 0px;

    &:hover,
    &:focus {
      border: 1px solid rgba(0, 123, 255, 1);
    }
  }

  .title {
    grid-area: title;

    font-family: "Roboto";
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 32px;
    color: #1c1c1c;
  }

  .first-name {
    grid-area: Fname;

    @extend .flex-column;
  }

  .last-name {
    grid-area: Lname;

    @extend .flex-column;
  }

  .e-mail {
    grid-area: emeil;

    @extend .flex-column;

    p {
      font-family: "Roboto";
      font-weight: 400;
      font-size: 13px;
      line-height: 18px;
      letter-spacing: -0.1px;
      color: #969696;
      margin: 7px 0px 0px 0px;
    }
  }

  .male {
    grid-area: male;

    display: flex;
    align-items: center;
    gap: 21px;

    .radio {
      width: 20px;
      height: 20px;
      margin: 0 8px 0 0;
      border-radius: 50%;
    
      display: flex;
      justify-content: center;
      align-items: center;
    
      &::after {
        content: "";
        display: block;
    
        width: 8px;
        height: 8px;
    
        opacity: 0;
        background-color: #ffffff;
        border-radius: 50%;
      }
    }
    
    .radio:checked {
      background: #007bff;
      appearance: none;
    
      &::after {
        opacity: 1;
      }
    }

    .mmale {
      display: flex;
      align-items: center;
    }

    .fmale {
      display: flex;
      align-items: center;
    }
  }

  .country {
    grid-area: country;

    @extend .flex-column;
  }

  .city {
    grid-area: city;

    @extend .flex-column;
  }

  .foot {
    grid-area: foot;

    max-width: 410px;
    padding: 0 20px;
    text-align: center;
    margin: 0px auto;

    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 18px;
    text-align: center;
    letter-spacing: -0.1px;
    color: #969696;

    span {
      font-family: "Inter";
      font-style: normal;
      font-weight: 400;
      font-size: 13px;
      line-height: 18px;
      text-align: center;
      letter-spacing: -0.1px;
      color: #007bff;
      cursor: pointer;
    }
  }

  .button {
    grid-area: button;

    background: #007bff;
    border: 1px solid #e4e4e4;
    border-radius: 6px;
    padding: 8px 0;
    font-family: "Roboto";
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 22px;
    text-align: center;
    letter-spacing: -0.1px;
    color: #ffffff;
  }
}

.footer-text {
  font-family: "Roboto";
  text-align: center;
  font-size: 15px;
  line-height: 22px;
  padding: 20px 0;

  &:first-child {
    font-weight: 400;
    letter-spacing: -0.2px;
    color: #545454;
  }

  & span:last-child {
    font-weight: 500;
    letter-spacing: -0.1px;
    color: #007bff;
    cursor: pointer;
    margin-left: 20px;
  }
}

.radio {
  width: 20px;
  height: 20px;
  border-radius: 50%;

  display: flex;
  justify-content: center;
  align-items: center;

  &::after {
    content: "";
    display: block;

    width: 8px;
    height: 8px;

    opacity: 0;
    background-color: #ffffff;
    border-radius: 50%;
  }
}

.radio:checked {
  background: #007bff;
  appearance: none;

  &::after {
    opacity: 1;
  }
}
