footer.footer
  .footer__wrapper
    .footer__block
      .footer__gta
        h2 Need a project?
        p (239) 555-0108
        p 
          a(href="#") tanya.hill@example.com
      .footer__svg
        +svg-social
    p.footer__copy © Copyright Manifest Theme. Allrights reserved
