header.header
  .header__wrapper
    .header__logo
      a(href="#")
        +svg-logo
    nav.header__list-search
      ul.header__list.header__list-burger
        +list(['home' , 'about' , 'works' , 'blog' , 'contact'])
      .header__search
        a(href="#")
          +svg-search
      +burger



        


