
main.main
  section.first-screen
    +img('bg-image.jpg')
    h1.first-screen__title
      |Manifest is a newborn theme.
      br
      |Clean, simple and fast.
  .main-wrapper
    selection.blog
      h2.blog__title.title Blog
      .blog__grid-container
        .blog__item
          +img('arrow.jpg')
        .blog__item
          .blog__item-wrapper
            p
              |Technology, Interface Design
            h2
              |Using UX Design to Build a Sustainable Future
            p
              |6 May, 2020
            p
              |Transformation has to be driven by everybody, not just by climate groups, 
              |and we have a responsibility to use our influence to 
              span drive this.
                +svg-arrow
        .blog__item
          .blog__item-wrapper
            p
              |Technology, Interface Design
            h2
              |Using UX Design to Build a Sustainable Future
            p
              |6 May, 2020
            p
              |Transformation has to be driven by everybody, not just by climate groups, 
              |and we have a responsibility to use our influence to 
              span drive this.
                +svg-arrow
        .blog__item
          +img('blog-image.jpg')
    section.posts
      .posts__title.title
        h2 Latest Posts
        span
            |View All
            +svg-arrow
      .posts__container
        .posts__blok
          +img('lampa.jpg')
          .posts__text
            p
              span Interface Design
              span 8 June, 2020
            h2
              |UX traffic light colours
            p
              |UI has to make a huge visual difference between warning, an alert and a success.
        .posts__blok
          +img('arrow-small.jpg')
          .posts__text
            p
              span Interface Design
              span 8 June, 2020
            h2
              |UX traffic light colours
            p
              |UI has to make a huge visual difference between warning, an alert and a success.
        .posts__blok
          +img('home.jpg')
          .posts__text
            p
              span Visual Design
              span 8 June, 2020
            h2
              |Creativity vs. UX
            p
              |Is it possible to create a delightful user experience without following best UX practices?
    section.popular        
      .popular__title.title
        h2 Latest Posts
        span
          |View All
          +svg-arrow
      .popular__container
        .popular__blok
          +img('lampa-yellow.jpg')
          .popular__text
            p
              span Interface Design
              span 8 June, 2020
            h2
              |Mentorship Match — How a simple LinkedIn feature can boost diversity
            p
              |LinkedIn is on a clear mission to make professionals more successful by connecting the global workforce and as we learned — diversity and success go hand in hand
        .popular__blok
          +img('arrow-right.jpg')
          .popular__text
            p
              span Visual Design
              span 8 June, 2020
            h2
              |Creativity vs. UX
            p
              |Is it possible to create a delightful user experience without following best UX practices?
      a(href="#").popular__button Load More
    section.info
      p
        |Full-time UI/UX designer
        |Head of Design at VeronaLabs.com
        br
        +svg-arrow
      p
        |We work with clients around the world from our headquarters in Charleston, South Carolina.
        br
        br
        |We focus on naming, branding, brand narratives, website design and development, and brand experiences.




