mixin list(array)
  each item in array
    li 
      a(href="#")
        |#{item}

mixin burger
  div.header__burger.center-wrapper
          div.center
            div

mixin img(name)
  img(src="../style/img/" + name alt="foto")

