.wrapper {
  max-width: 1180px;
  margin: 121px auto;
  padding: 0px 0px 122px 0px;
  display: grid;
  grid-template-columns: repeat(2, minmax(460px, 686px));
  gap: 40px 0;
}

.title {
  grid-column: span 2;
}
.title h1 {
  margin: 15px 0px 40px 0px;
}
.title__line-svg {
  max-width: 450px;
  margin: 0px auto;
  display: flex;
  align-items: center;
  gap: 5px;
}
.title__line {
  background-color: var(--yellov-color);
  height: 1px;
  width: 215px;
}
.title svg {
  width: 20px;
}

.foto {
  padding: 100px 85px;
}
.foto__wrapper {
  position: relative;
  padding: 15px;
  width: 430px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.foto__line {
  width: 100px;
  height: 100px;
  border: 1px solid var(--yellov-color);
  position: absolute;
}
.foto__line:nth-child(1) {
  top: 0;
  left: 0;
  border-bottom: none;
  border-right: none;
}
.foto__line:nth-child(2) {
  right: 0;
  top: 0;
  border-bottom: none;
  border-left: none;
}
.foto__line:nth-child(3) {
  bottom: 0;
  left: 0;
  border-top: none;
  border-right: none;
}
.foto__line:nth-child(4) {
  bottom: 0;
  right: 0;
  border-left: none;
  border-top: none;
}
.foto__img {
  max-width: 400px;
  min-height: 400px;
}

.kabir {
  border-left: var(--yellov-color) 1px solid;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 560px;
  padding: 100px 85px;
}
.kabir__title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
}
.kabir__line {
  width: 100px;
  height: 1px;
  background-color: var(--yellov-color);
}
.kabir__icons {
  margin: 0px 0 50px 0;
  display: flex;
  gap: 5px;
}
.kabir__svg {
  border: 2px solid #CCCCCC;
  border-radius: 50%;
  padding: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
}
.kabir__text {
  max-width: 500px;
}
.kabir__restangle-line {
  display: flex;
  gap: 5px;
  margin: 20px 0 25px 0;
}
.kabir__restangle {
  width: 10px;
  height: 4px;
  background-color: var(--yellov-color);
}
.kabir__restangle-2 {
  width: 20px;
  height: 4px;
  background-color: var(--yellov-color);
}
.kabir__bth {
  border: 1px var(--yellov-color) solid;
  padding: 5px 10px;
  max-width: fit-content;
  cursor: pointer;
}