.wrapper {
  max-width: 100%;
  overflow: hidden;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.main {
  background-image: url(./img/bacground/first-screen-image.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  min-height: 1028.25px;
  padding: 260px 30px 0px 135px;
}
@media (max-width: 964px) {
  .main {
    padding-left: 40px;
    padding-right: 10px;
  }
}

.header {
  position: absolute;
  z-index: 4;
  top: 30px;
  display: flex;
  justify-content: space-between;
  padding: 20px 135px;
  height: 80px;
  width: 100vw;
  background: linear-gradient(270deg, rgba(255, 255, 255, 0.5) 0%, rgba(255, 255, 255, 0.244636) 24.1%, rgba(255, 255, 255, 0) 47.19%), rgba(255, 255, 255, 0.02);
  -webkit-backdrop-filter: blur(4.5px);
          backdrop-filter: blur(4.5px);
}
.header .center-wrapper {
  width: 50px;
  position: relative;
  display: none;
}
.header .center-wrapper input {
  position: absolute;
  z-index: 2;
  top: 0;
  left: 0;
  width: 110%;
  height: 110%;
  opacity: 0;
}
.header .center-wrapper input:checked ~ .center:before {
  transform: translateY(12px) rotate(135deg);
}
.header .center-wrapper input:checked ~ .center:after {
  transform: translateY(-12px) rotate(-135deg);
}
.header .center-wrapper input:checked ~ .center div {
  transform: scale(0);
}
.header .center-wrapper .center {
  width: 50px;
  position: relative;
}
.header .center-wrapper .center:before, .header .center-wrapper .center:after, .header .center-wrapper .center div {
  background: #000;
  content: "";
  display: block;
  height: 6px;
  border-radius: 3px;
  margin: 7px 0;
  transition: 0.5s;
}
.header__logo-text {
  display: flex;
  align-items: center;
  gap: 15px;
}
.header__list {
  display: flex;
  align-items: center;
}
.header__list ul {
  display: flex;
  gap: 30px;
}
@media (max-width: 964px) {
  .header {
    padding: 20px 40px;
  }
}
@media (max-width: 790px) {
  .header .header__list {
    display: none;
  }
  .header .center-wrapper {
    display: block;
  }
}

.bth {
  position: relative;
  width: -moz-max-content;
  width: max-content;
}

.bth-line {
  background: #f1897b;
  opacity: 0.3;
  width: 100%;
  height: 13px;
  position: absolute;
  bottom: -4px;
  right: -7px;
}

.main__text-big {
  max-width: 523px;
}
.main__text-small {
  max-width: 439px;
  margin: 20px 0px 50px 0px;
}
.main__bth-line {
  width: 112px;
}

.blocks-on {
  display: flex;
  align-items: center;
  margin: 0px auto;
  max-width: 1199px;
  padding: 0 17px;
  position: relative;
}

.block-on {
  background: #FFFFFF;
  opacity: 0.9;
}

.bloks-on-main {
  min-height: 670px;
  transform: translateY(-35%);
}
@media screen and (max-width: 1250px) {
  .bloks-on-main {
    max-width: 1000px;
  }
}
.bloks-on-main__foto {
  width: 570px;
  height: 670px;
}
.bloks-on-main__block {
  max-width: 770px;
  display: grid;
  grid-template-columns: 370px 400px;
  padding: 45px 0;
  border: 1px black solid;
  background: #FFFFFF;
  opacity: 0.9;
  transform: translateX(-170px);
}
@media screen and (max-width: 1250px) {
  .bloks-on-main__block {
    transform: translateX(-370px);
  }
}
.bloks-on-main__list p {
  margin: 12px 0px 0px 0px;
}
.bloks-on-main__line {
  width: 100px;
  border-top: 1px solid #85BBB1;
  margin-bottom: 40px;
  margin: 40px auto;
}
.bloks-on-main__info-text p {
  padding-right: 3px;
}
.bloks-on-main__bth {
  margin-top: 50px;
}
@media screen and (max-width: 500px) {
  .bloks-on-main__bth {
    margin-left: -100px;
  }
}
@media screen and (max-width: 1000px) {
  .bloks-on-main__foto {
    display: none;
  }
  .bloks-on-main__block {
    transform: translateX(0px);
    grid-template-columns: minmax(100px, 370px) minmax(100px, 400px);
  }
}

.benefists {
  margin: 120px 0;
}
.benefists__block {
  padding: 20px 35px 52px 35px;
  border-top: 1px solid #E4E4E4;
  margin: 0px auto;
}
.benefists__block h2 {
  max-width: 500px;
  margin-bottom: 30px;
}
.benefists__block p {
  max-width: 500px;
}
.benefists__wrapper {
  max-width: 1170px;
  margin: 0px auto;
  display: grid;
  gap: 60px 30px;
  grid-template-columns: minmax(100px, 555px) minmax(200px, 555px);
  justify-content: center;
}
@media only screen and (max-width: 768px) {
  .benefists__wrapper {
    grid-template-columns: repeat(auto-fit, minmax(100px, 100%));
  }
}

.qoute-wrapper {
  padding: 0 25px;
}

.quote {
  max-width: 1170px;
  min-height: 400px;
  margin: 0px auto 120px auto;
  padding: 70px 30px 100px 100px;
  background-image: url(./img/bacground/quote-background.jpg);
}
@media only screen and (max-width: 781px) {
  .quote {
    padding: 30px 7px 20px 7px;
  }
}
.quote__wrapper {
  position: relative;
  padding: 30px 0 0 60px;
  max-width: 1070px;
}
@media only screen and (max-width: 500px) {
  .quote__wrapper {
    padding-left: 20px;
  }
}
.quote__logo svg {
  position: absolute;
  top: 0;
  left: 0;
}
.quote__text {
  max-width: 710px;
}
.quote__text p:first-child {
  margin-bottom: 40px;
}

.video {
  margin: 0px auto;
  padding: 0 30px;
  max-width: 1030px;
}
.video__img img {
  width: 100%;
  height: auto;
}
.video__text {
  margin-top: 50px;
}

.bloks-after {
  margin: 120px auto;
}
.bloks-after__block {
  border: 1px black solid;
  padding: 75px 0px 75px 70px;
  max-width: 770px;
  background: #FFFFFF;
  opacity: 0.9;
  transform: translateX(-170px);
}
@media screen and (max-width: 1300px) {
  .bloks-after__block {
    transform: translateX(-300px);
  }
}
@media screen and (max-width: 1100px) {
  .bloks-after__block {
    transform: translateX(0px);
  }
}
.bloks-after__list {
  display: grid;
  grid-template-columns: 300px 300px;
  gap: 70px 100px;
}
@media screen and (max-width: 800px) {
  .bloks-after__list {
    grid-template-columns: minmax(250px, 300px) minmax(250px, 300px);
  }
}
@media screen and (max-width: 718px) {
  .bloks-after__list {
    grid-template-columns: minmax(250px, 300px);
  }
}
.bloks-after__list h2 {
  margin-bottom: 15px;
}
.bloks-after__list_bth {
  padding: 33px 89px;
  border: 1px solid #E4E4E4;
}
.bloks-after__foto {
  height: 540px;
  min-width: 600px;
}
@media screen and (max-width: 1100px) {
  .bloks-after__foto {
    display: none;
  }
}
.bloks-after__foto img {
  width: 100%;
  height: 100%;
}

.reviews {
  max-width: 1230px;
  margin: 0px auto;
  padding: 0 30px;
  margin-bottom: 100px;
}
.reviews__title {
  margin-bottom: 50px;
}
.reviews__title h2 {
  margin-bottom: 20px;
}
.reviews__title P {
  max-width: 400px;
}
.reviews__blocks {
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
  justify-content: center;
}
.reviews__blocks img {
  max-width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
@media only screen and (max-width: 430px) {
  .reviews__blocks img {
    height: 426px;
  }
}
.reviews__block {
  max-width: 370px;
  position: relative;
}
.reviews__block p:first-child {
  margin-bottom: 26px;
}
.reviews__block-fon {
  position: absolute;
  width: 100%;
  height: 100%;
  padding: 30px 40px;
  z-index: 2;
  top: 0;
  left: 0;
  background: rgba(25, 28, 41, 0.6);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.contact {
  border-bottom: 1px solid #E4E4E4;
  border-top: 1px solid #E4E4E4;
  max-width: 1200px;
  padding: 60px 15px 100px 15px;
  margin: 0px auto;
  display: grid;
  grid-template-columns: 470px minmax(300px, 470px);
  gap: 30px;
  justify-content: space-between;
}
@media (max-width: 882px) {
  .contact {
    grid-template-columns: minmax(300px, 470px);
    justify-content: center;
  }
}
.contact__title h2 {
  margin-bottom: 29px;
}

.form {
  display: grid;
  grid-template-columns: 1fr;
  gap: 10px;
}
.form label {
  cursor: pointer;
  transform: translateY(38px);
  display: block;
  transition: all 1s ease 0s;
}
.form__inpute {
  border-bottom: 1px solid #262A3F;
  width: 100%;
  height: 50px;
  display: flex;
  flex-direction: column;
  gap: 0px;
}
.form__bth {
  margin-top: 30px;
}

.footer {
  padding: 0 20px;
}
.footer__wrapper {
  max-width: 1170px;
  min-height: 86px;
  margin: 0px auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  gap: 10px 30px;
}
.footer__block:last-child {
  display: flex;
  gap: 32px;
}
.footer__block:nth-child(2) {
  display: flex;
  gap: 12px;
}