.wrapper {
  max-width: 100%;
  overflow: hidden;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 120px;
}

.main {
  background-image: url(./img/bacground/first-screen-image.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  min-height: 1028.25px;
  padding: 260px 30px 0px 135px;
}
@media (max-width: 964px) {
  .main {
    padding-left: 40px;
    padding-right: 10px;
  }
}

.header {
  position: absolute;
  z-index: 4;
  top: 30px;
  display: flex;
  justify-content: space-between;
  gap: 5px;
  padding: 20px 135px;
  height: 80px;
  width: 100vw;
  background: var(--gradient-header);
  -webkit-backdrop-filter: blur(4.5px);
          backdrop-filter: blur(4.5px);
}
.header .center-wrapper {
  width: 50px;
  position: relative;
  display: none;
}
.header .center-wrapper:has(input:checked) + .header__list {
  transform: scaleY(1);
}
.header .center-wrapper input {
  position: absolute;
  z-index: 2;
  top: 0;
  left: 0;
  width: 110%;
  height: 110%;
  opacity: 0;
}
.header .center-wrapper input:checked ~ .center:before {
  transform: translateY(12px) rotate(135deg);
}
.header .center-wrapper input:checked ~ .center:after {
  transform: translateY(-12px) rotate(-135deg);
}
.header .center-wrapper input:checked ~ .center div {
  transform: scale(0);
}
.header .center-wrapper .center {
  width: 50px;
  position: relative;
}
.header .center-wrapper .center:before, .header .center-wrapper .center:after, .header .center-wrapper .center div {
  background: var(--color-black);
  content: "";
  display: block;
  height: 6px;
  border-radius: 3px;
  margin: 7px 0;
  transition: 0.5s;
}
@media screen and (prefers-color-scheme: dark) {
  .header .center-wrapper .center:before, .header .center-wrapper .center:after, .header .center-wrapper .center div {
    background-color: var(--color-white);
  }
}
.header__logo-text {
  display: flex;
  align-items: center;
  gap: 15px;
}
.header__list {
  display: flex;
  align-items: center;
  transition: all 0.5s ease 0s;
}
.header__list ul {
  display: flex;
  gap: 30px;
}
.header__list ul li::after {
  transform: scaleX(0);
  transition: all 0.5s ease 0s;
  content: "";
  background-color: var(--pink-color);
  display: block;
  height: 3px;
  width: 100%;
}
.header__list ul li:first-child {
  transition: all 0s ease 0s;
}
.header__list ul li:first-child::after {
  transform: scaleX(1);
}
.header__list ul li:hover:after {
  transform: scaleX(1);
}
@media (max-width: 964px) {
  .header {
    padding: 20px 40px;
  }
}
@media (max-width: 790px) {
  .header .header__list {
    position: absolute;
    right: 40px;
    top: 80px;
    background-color: var(--color-white);
    opacity: 0.9;
    padding: 40px;
    transform: scaleY(0);
  }
}
@media screen and (max-width: 790px) and (prefers-color-scheme: dark) {
  .header .header__list {
    background-color: var(--blue-color-midl);
  }
}
@media (max-width: 790px) {
  .header .header__list ul {
    flex-direction: column;
  }
}
@media (max-width: 790px) {
  .header .center-wrapper {
    display: block;
  }
}

.bth {
  position: relative;
  width: -moz-max-content;
  width: max-content;
  background: none;
  display: block;
}

.bth-line {
  background: var(--pink-color);
  opacity: 0.3;
  width: 100%;
  height: 13px;
  position: absolute;
  bottom: -4px;
  right: -7px;
}

.main__text-big {
  max-width: 523px;
}
.main__text-small {
  max-width: 439px;
  margin: 20px 0px 50px 0px;
}
.main__bth-line {
  width: 112px;
}

.blocks-on {
  display: flex;
  margin: 0px auto;
}

.bloks-on-main {
  min-height: 670px;
  max-width: 1199px;
  margin: -120px auto 0 135px;
  transform: translateY(-50%);
}
@media screen and (max-width: 1250px) {
  .bloks-on-main {
    max-width: 1000px;
  }
}
@media screen and (max-width: 964px) {
  .bloks-on-main {
    margin-left: 40px;
    padding-right: 5px;
    transform: translateY(-30%);
  }
}
@media screen and (max-width: 601px) {
  .bloks-on-main {
    margin-left: 40px;
    padding-right: 5px;
    transform: translateY(0px);
  }
}
.bloks-on-main__foto {
  min-width: 570px;
}
@media screen and (max-width: 1116px) {
  .bloks-on-main__foto {
    display: none;
  }
}
.bloks-on-main__foto img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.bloks-on-main__block {
  max-width: 770px;
  display: grid;
  grid-template-columns: 370px 400px;
  align-self: center;
  padding: 45px 0;
  background: var(--color-white);
  opacity: 0.9;
  transform: translateX(-170px);
}
@media screen and (max-width: 1313px) {
  .bloks-on-main__block {
    transform: translateX(-370px);
  }
}
@media screen and (max-width: 1116px) {
  .bloks-on-main__block {
    transform: translateX(0px);
    grid-template-columns: minmax(100px, 370px) minmax(100px, 400px);
  }
}
.bloks-on-main__list p {
  margin: 12px 0px 0px 0px;
}
.bloks-on-main__line {
  width: 100px;
  border-top: 1px solid var(--color-green);
  margin-bottom: 40px;
  margin: 40px auto;
}
@media screen and (max-width: 964px) {
  .bloks-on-main__line {
    margin: 10px auto;
  }
}
.bloks-on-main__info-text p {
  padding-right: 3px;
}
.bloks-on-main__bth {
  margin-top: 50px;
}
@media screen and (max-width: 600px) {
  .bloks-on-main {
    margin: 0px auto;
  }
  .bloks-on-main__block {
    grid-template-columns: 300px;
    padding: 5px;
  }
  .bloks-on-main__info-text {
    text-align: center;
    margin: 20px 0px 0px 0px;
    border-top: var(--color-green) 1px solid;
    padding-top: 5px;
  }
}

.benefists {
  margin-top: -231px;
}
@media screen and (max-width: 601px) {
  .benefists {
    margin-top: 0px;
  }
}
.benefists__block {
  padding: 20px 35px 52px 35px;
  margin: 0px auto;
  border-top: 1px solid var(--color-white-mild);
}
.benefists__block h2 {
  max-width: 500px;
  margin-bottom: 30px;
}
.benefists__block p {
  max-width: 500px;
}
.benefists__wrapper {
  max-width: 1170px;
  margin: 0px auto;
  display: grid;
  gap: 60px 30px;
  grid-template-columns: minmax(100px, 555px) minmax(200px, 555px);
  justify-content: center;
}
@media only screen and (max-width: 768px) {
  .benefists__wrapper {
    grid-template-columns: repeat(auto-fit, minmax(100px, 100%));
    gap: 30px;
  }
}

.qoute-wrapper {
  padding: 0 25px;
}

.quote {
  max-width: 1170px;
  min-height: 400px;
  margin: 0px auto 0px auto;
  padding: 70px 30px 100px 100px;
  background-image: url(./img/bacground/quote-background.jpg);
}
@media screen and (max-width: 781px) {
  .quote {
    padding: 30px 7px 20px 7px;
  }
}
.quote__wrapper {
  position: relative;
  padding: 30px 0 0 60px;
  max-width: 1070px;
}
@media screen and (max-width: 500px) {
  .quote__wrapper {
    padding-left: 20px;
  }
}
.quote__logo svg {
  position: absolute;
  top: 0;
  left: 0;
}
.quote__text {
  max-width: 710px;
}
.quote__text p:first-child {
  margin-bottom: 40px;
}

.tablet-wrapper {
  padding: 0 30px;
  margin: 0px auto;
}
.tablet-wrapper__text {
  margin-top: 50px;
  max-width: 897px;
}
.tablet-wrapper__text p:first-child {
  margin-bottom: 20px;
}

.tablet {
  max-width: 970px;
  padding: 31px 70px 31px 30px;
  position: relative;
  display: flex;
  align-items: center;
  border: 1px solid #e4e4e4;
  border-radius: 32px;
}
@media screen and (max-width: 570px) {
  .tablet {
    padding: 15px 53px 15px 25px;
  }
}
.tablet__camera {
  position: absolute;
  left: 8px;
  border: 1px solid #e4e4e4;
  border-radius: 50%;
  height: 13px;
  width: 13px;
}
.tablet__img {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.tablet__img img:first-child {
  -o-object-fit: contain;
     object-fit: contain;
  width: 100%;
  height: 100%;
}
.tablet__img img:last-child {
  position: absolute;
  cursor: pointer;
  width: 13.7%;
}
.tablet__img img:last-child:hover {
  opacity: 0.8;
}
.tablet__button {
  position: absolute;
  right: 14px;
  z-index: 2;
  border: 1px solid #e4e4e4;
  border-radius: 50%;
  width: 35px;
  height: 35px;
}
@media screen and (max-width: 540px) {
  .tablet__button {
    width: 25px;
    height: 25px;
  }
}

.bloks-after {
  margin: 0 auto;
  min-height: 540px;
  max-width: 1169px;
}
.bloks-after__block {
  padding: 75px 0px 75px 70px;
  align-self: center;
  max-width: 770px;
  background: var(--color-white);
  opacity: 0.9;
  transform: translateX(-170px);
}
@media screen and (max-width: 1300px) {
  .bloks-after__block {
    transform: translateX(-300px);
  }
}
@media screen and (max-width: 1100px) {
  .bloks-after__block {
    transform: translateX(0px);
  }
}
.bloks-after__list {
  display: grid;
  width: -moz-max-content;
  width: max-content;
  grid-template-columns: 1fr 1fr;
  gap: 70px 100px;
}
@media screen and (max-width: 910px) {
  .bloks-after__list {
    grid-template-columns: 100%;
  }
}
.bloks-after__list h2 {
  margin-bottom: 15px;
}
.bloks-after__list_bth {
  padding: 40px 89px;
  border: 1px solid var(--color-white-mild);
  cursor: pointer;
}
.bloks-after__foto {
  min-width: 600px;
}
@media screen and (max-width: 1100px) {
  .bloks-after__foto {
    display: none;
  }
}
.bloks-after__foto img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
@media screen and (max-width: 800px) {
  .bloks-after {
    padding: 10px;
  }
  .bloks-after__block {
    padding-left: 20px;
  }
}

.reviews {
  max-width: 1230px;
  padding: 0 30px;
  margin: 0px auto -20px auto;
}
.reviews__title {
  margin-bottom: 50px;
}
.reviews__title h2 {
  margin-bottom: 20px;
}
.reviews__title P {
  max-width: 400px;
}
.reviews__blocks {
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
  justify-content: center;
}
.reviews__blocks img {
  max-width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
@media only screen and (max-width: 430px) {
  .reviews__blocks img {
    height: 426px;
  }
}
.reviews__block {
  max-width: 370px;
  position: relative;
}
.reviews__block p:first-child {
  margin-bottom: 26px;
}
.reviews__block-fon {
  position: absolute;
  z-index: 2;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 30px 40px;
  background: rgba(25, 28, 41, 0.6);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.contact-wrapper {
  margin-top: -20px;
}

.contact {
  border-top: 1px solid var(--color-white-mild);
  max-width: 1200px;
  padding: 60px 15px 0 15px;
  margin: 0px auto;
  display: grid;
  grid-template-columns: 470px minmax(300px, 470px);
  gap: 30px;
  justify-content: space-between;
}
@media (max-width: 882px) {
  .contact {
    grid-template-columns: minmax(300px, 470px);
    justify-content: center;
  }
}
.contact__title h2 {
  margin-bottom: 29px;
}

.form {
  display: grid;
  grid-template-columns: 1fr;
  gap: 10px;
}
.form label {
  cursor: pointer;
  transform: translateY(38px);
  display: block;
  transition: all 1s ease 0s;
}
.form__inpute {
  border-bottom: 1px solid var(--gray-color);
  width: 100%;
  height: 50px;
  display: flex;
  flex-direction: column;
  gap: 0px;
}
.form__bth {
  margin-top: 30px;
}

.footer {
  padding: 0 20px;
  margin-top: -20px;
}
@media screen and (max-width: 790px) {
  .footer {
    padding: 25px 20px;
  }
}
.footer__wrapper {
  border-top: 1px solid var(--color-white-mild);
  max-width: 1170px;
  min-height: 86px;
  margin: 0px auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  gap: 10px 30px;
}
.footer__block:last-child {
  display: flex;
  gap: 32px;
}
.footer__block:nth-child(2) {
  display: flex;
  gap: 12px;
}

@media screen and (prefers-color-scheme: dark) {
  .main {
    background-image: url(./img/first-screen-image.jpg);
  }
  .wrapper {
    background-color: var(--blue-color-midl);
  }
  .form__input {
    background-color: var(--blue-color-midl);
  }
  .bloks-on-main__block:last-child, .bloks-after__block:last-child {
    background-color: var(--blue-color-midl);
  }
  .form input {
    background: none;
  }
}