.header-footer {
  font-family: "Lato";
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.08em;
  color: #262a3f;
}

.bth {
  font-family: "Lato";
  font-weight: 700;
  font-size: 20px;
  line-height: 20px;
  letter-spacing: 0.08em;
  text-transform: uppercase;
  color: #f1897b;
}

.bloks-on-main__list li h2 {
  font-family: "Playfair Display";
  font-weight: 400;
  font-size: 68px;
  line-height: 72px;
  text-align: center;
  color: #262a3f;
}
@media screen and (max-width: 630px) {
  .bloks-on-main__list li h2 {
    font-size: 35px;
    line-height: 40px;
  }
}
.bloks-on-main__list li p {
  text-align: center;
}

.quote__text {
  font-weight: 400;
  color: #ffffff;
}
.quote__text p:first-child {
  font-family: "Lato";
  font-size: 32px;
  line-height: 46px;
  letter-spacing: 0.04em;
}
@media only screen and (max-width: 547px) {
  .quote__text p:first-child {
    font-size: 27px;
    line-height: 33px;
  }
}
.quote__text p:last-child {
  font-family: "Playfair Display";
  font-style: italic;
  font-size: 20px;
  line-height: 20px;
  letter-spacing: 0.08em;
}

.reviews {
  font-weight: 400;
  color: #ffffff;
}
.reviews__block p:first-child {
  font-family: "Lato";
  font-size: 16px;
  line-height: 26px;
}
.reviews__block p:last-child {
  font-family: "Playfair Display";
  font-style: italic;
  font-size: 20px;
  line-height: 20px;
  letter-spacing: 0.08em;
}

.form__input input::-moz-placeholder {
  font-family: "Playfair Display";
  font-style: italic;
  font-weight: 400;
  font-size: 18px;
  line-height: 20px;
  letter-spacing: 0.08em;
  color: #262a3f;
}

.form__input input::placeholder,
.form__input input {
  font-family: "Playfair Display";
  font-style: italic;
  font-weight: 400;
  font-size: 18px;
  line-height: 20px;
  letter-spacing: 0.08em;
  color: #262a3f;
}

.footer span {
  font-family: "Lato";
  font-weight: 300;
  font-size: 14px;
  line-height: 26px;
  color: #262a3f;
}

.text-with-green {
  font-family: "Playfair Display";
  font-weight: 400;
  font-size: 40px;
  line-height: 48px;
  color: #262a3f;
}

.green {
  color: rgb(133, 187, 177);
}

.small-text {
  font-family: "Lato";
  font-weight: 300;
  font-size: 18px;
  line-height: 26px;
  color: #262a3f;
}