:root {
  --pink-color: #f1897b;
  --gray-color: #262a3f;
  --gray-color-ever: #262a3f;
  --blue-color-midl: #161926;
  --color-red-midl: #e64f3a;
  --color-black: #000;
  --color-white: #ffffff;
  --color-white-mild: #e4e4e4;
  --color-green: #85bbb1;
  --gradient-header: linear-gradient(
      270deg,
      rgba(255, 255, 255, 0.5) 0%,
      rgba(255, 255, 255, 0.244636) 24.1%,
      rgba(255, 255, 255, 0) 47.19%
    ),
    rgba(255, 255, 255, 0.02);
}