.center-wrapper {
  width: 50px;
  position: relative;
  display: none;
}
.center-wrapper:has(input:checked) + .header__list {
  -webkit-transform: scaleY(1);
          transform: scaleY(1);
}
.center-wrapper input {
  position: absolute;
  z-index: 2;
  top: 0;
  left: 0;
  width: 110%;
  height: 110%;
  opacity: 0;
}
.center-wrapper input:checked ~ .center:before {
  -webkit-transform: translateY(12px) rotate(135deg);
          transform: translateY(12px) rotate(135deg);
}
.center-wrapper input:checked ~ .center:after {
  -webkit-transform: translateY(-12px) rotate(-135deg);
          transform: translateY(-12px) rotate(-135deg);
}
.center-wrapper input:checked ~ .center div {
  -webkit-transform: scale(0);
          transform: scale(0);
}
.center-wrapper .center {
  width: 50px;
  position: relative;
}
.center-wrapper .center:before, .center-wrapper .center:after, .center-wrapper .center div {
  background: var(--color-black);
  content: "";
  display: block;
  height: 6px;
  border-radius: 3px;
  margin: 7px 0;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
@media screen and (prefers-color-scheme: dark) {
  .center-wrapper .center:before, .center-wrapper .center:after, .center-wrapper .center div {
    background-color: var(--color-white);
  }
}