.bth {
  width: 200px;
  padding: 20px 10px;
  border-radius: 30px;
  border: 2px #8c8c8c solid;
  text-align: center;
  font-family: "PT Sans";
  font-style: italic;
  font-weight: 900;
  color: #1f1f1f;
  background: rgb(181, 189, 200);
  background: linear-gradient(to bottom, rgb(181, 189, 200) 0%, rgb(130, 140, 149) 36%, rgb(40, 52, 59) 100%);
  box-shadow: 16px 16px 10px 4px rgba(0, 0, 0, 0.75);
  transition: all 0.9s ease 0s;
  cursor: pointer;
}
.bth:hover {
  transform: scale(1.02);
  color: white;
  background: rgb(76, 76, 76);
  background: linear-gradient(135deg, rgb(76, 76, 76) 0%, rgb(89, 89, 89) 12%, rgb(102, 102, 102) 25%, rgb(71, 71, 71) 39%, rgb(44, 44, 44) 50%, rgb(0, 0, 0) 58%, rgb(17, 17, 17) 60%, rgb(43, 43, 43) 76%, rgb(28, 28, 28) 91%, rgb(19, 19, 19) 100%);
}

.wrapper {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 0 100px 90px 100px;
  position: relative;
  max-width: 1519.2px;
}

.grid-container {
  display: grid;
  grid-template-columns: 385px 1fr;
  grid-template-rows: 1fr;
  padding-top: 144px;
  gap: 30px;
}

.aside-wrapp {
  position: sticky;
  top: 180px;
  height: -moz-max-content;
  height: max-content;
}

.header {
  display: flex;
  max-width: 1519.2px;
  justify-content: space-between;
  gap: 231px;
  padding: 26px 120px 15px 120px;
  position: fixed;
  background-color: #fff;
  z-index: 2;
}
.header__eng {
  font-family: "Tourney";
  font-weight: 600;
  font-size: 22px;
  line-height: 18px;
  text-align: center;
  letter-spacing: 0.04em;
}
.header__doc {
  font-family: "Staatliches";
  font-weight: 400;
  font-size: 22px;
  line-height: 28px;
  letter-spacing: 0.03em;
}

.title {
  display: flex;
  gap: 50px;
  align-items: center;
}

.main {
  top: 20px;
  max-width: 1205px;
  display: flex;
  flex-direction: column;
  gap: 70px;
  background: fixed;
  background-image: url(./img/bg-picture.jpg);
  background-repeat: no-repeat;
  background-position: right 100px top 160px;
}

hr {
  width: 100px;
  height: 8px;
  background: #000000;
  margin: 0px 0px 20px 0px;
}

.block-text .text {
  display: flex;
  flex-direction: column;
  gap: 40px;
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 28px;
  line-height: 48px;
}

.title-p {
  display: flex;
  gap: 10px;
  margin: 0px 0px 40px 0px;
}
.title-p h2 {
  font-family: "Francois One";
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 48px;
  letter-spacing: 0.04em;
  text-transform: uppercase;
}
.title-p .chapter {
  font-family: "Farro";
  font-style: normal;
  font-weight: 300;
  font-size: 17px;
  line-height: 17px;
  letter-spacing: 0.04em;
}

.weight-700 {
  font-weight: 700;
}

.teg {
  background-color: rgb(218, 218, 218);
}

.aside {
  padding: 0px 0px 0px 10px;
  display: flex;
  flex-direction: column;
  gap: 60px;
  z-index: 1;
}
.aside__text-line {
  max-width: -moz-max-content;
  max-width: max-content;
  border-bottom: 1px solid #bdbdbd;
  padding: 0px 0px 10px 0px;
}

.using {
  width: 100%;
  height: 1000px;
  background-color: #fff;
  z-index: 4;
}

.using {
  position: fixed;
  padding: 50px 120px 70px 120px;
  transform: scale(0);
  transition: all 1s ease 0s;
}
.using__title {
  display: flex;
  align-items: center;
  gap: 20px;
}
.using__title hr {
  margin: 0;
}
.using__title {
  display: flex;
  justify-content: space-between;
}
.using .close {
  cursor: pointer;
}
.using .close svg {
  width: 50px;
}

.grid-containe-carter {
  margin: 30px 0px 0px 0px;
  display: grid;
  grid-template-columns: repeat(4, 270px);
  gap: 30px;
  grid-template-rows: auto;
}

.carte-block {
  width: 270px;
  height: 180px;
  background: #e6e6e6;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 1s ease 0s;
}
.carte-block:hover {
  transform: rotateY(180deg);
}
.carte-block:hover .carte-block-before {
  transform: rotateY(0);
}

.carte-block,
.carte-block-before {
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.carte-wrapper {
  position: relative;
  background-color: transparent;
  perspective: 1000px;
}
.carte-wrapper:hover .carte-iner {
  transform: rotateY(180deg);
}

.carte-iner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.carte-block-before {
  transform: rotateY(180deg);
  width: 270px;
  height: 180px;
  background: #1a1a1a;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 1s ease 0s;
  position: absolute;
  top: 0;
  z-index: -1;
  transform: rotateY(180deg);
}